/* Resetando as margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
    min-height: 100vh; /* Garantir que o body ocupe a altura mínima da tela */
    display: flex;
    flex-direction: column;
}

/* Estilo do cabeçalho */
header {
    background-color: #333; /* Cabeçalho em cinza escuro */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

/* Estilos do conteúdo principal */
main {
    padding: 20px;
    flex: 1; /* Isso faz o main ocupar o espaço restante */
}

/* Container para as seções com colunas */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas de largura igual */
    gap: 20px; /* Espaço entre as colunas */
    margin-bottom: 30px;
}

/* Estilos para a coluna da esquerda */
.left-column {
    padding: 15px;
}

.left-column h2 {
    font-size: 1.8rem;
    color: #f5f5f5; /* Título em cinza claro */
}

.left-column p {
    font-size: 1.1rem;
    line-height: 1.5;
}

/* Estilos para a coluna da direita */
.right-column {
    text-align: center;
}

.image-container {
    margin-top: 10px;
}

.image {
    max-width: 100%; /* Limita a imagem à largura da coluna */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave nas imagens */
}

/* Estilo do rodapé */
footer {
    background-color: #333; /* Rodapé em cinza escuro */
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: absolute; /* Fixa o rodapé no fundo */
    bottom: 0;
}